main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--color-white-main);
    display: flex;
    justify-content: center;
    align-items: center;
    .section-login {
        width: 30%;
        min-width: 300px;
        padding: 90px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h4 {
            color: var(--color-gray-3);
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 2.1rem;
            margin-bottom: 14px;
        }
        .input-login {
            width: 100%;
            height: 50px;
            background-color: var(--color-white);
            border: 0;
            outline: none;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 2rem;
            color: var(--color-gray-1);
            border-radius: 5px;
            border-bottom: 2px solid var(--color-gray-2);
            padding: 7px 12px;
            margin: 14px 0;
        }
        a {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            button {
                width: 100%;
                height: auto;
                border: 0;
                outline: none;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 1.9rem;
                color: var(--color-white);
                padding: 16px;
                background-color: var(--color-blue);
                margin: 10px 0 0 0;
                border-radius: 5px;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        @media screen and (max-width: 800px) {
            a {
                button {
                    width: 120px;
                }
            }
        }
    }
}